[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
django-json-secrets = "*"
"jinja2" = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
pillow = "*"
django-modeladmin-reorder = "*"
django-storages = "*"
django-sass-processor = "*"
drf-writable-nested = "*"
django-default-imagefield = "*"
django-ckeditor = "*"
"boto3" = "*"
django-colorful = "*"
sentry-sdk = "*"
"psycopg2-binary" = "*"

[dev-packages]
ipython = "*"
django-debug-toolbar = "*"
awsebcli = "*"
django-compressor = "*"
libsass = "*"

[requires]
python_version = "3.6"
