[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
django-json-secrets = "*"
"jinja2" = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
pillow = "*"
django-modeladmin-reorder = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
