<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>이용 승인 안내</title>
</head>
<body>
    <h4>안녕하세요, {{ user.name }}님. 패스트캠퍼스 채용연계 플랫폼 사용이 승인되었습니다.</h4>
    <p>
        <a href="https://{{ site.domain }}/login/">로그인 하기</a>
    </p>
</body>
</html>
