{% extends 'base.jinja2' %}

{% block content_header %}
<header class="content-header clearfix child-middle">
	<div class="title">
		<span>지원자 현황</span>
	</div>
	<div class="right-menu child-middle">
		<div class="dropdown d-inline-block h-input">
			<button class="btn btn-dark dropdown-toggle pl-4 pr-4 mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    보기 조건
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#">구직 중</a>
		    <a class="dropdown-item" href="#">취업완료</a>
		    <a class="dropdown-item" href="#">전체</a>
		  </div>
		</div>
		<form action="" class="d-inline-block h-input">
			<input type="text" class="form-control" placeholder="학생/키워드 검색하기">
		</form>
	</div>
</header>
{% endblock %}

{% block content %}
<div class="applicant-list row">
	{% for applicant in applicants %}
		<div class="col-lg-6 mb-5">
			<div class="user">
				<div class="user-profile shadow-xs" style="background-image: url('{{ applicant.img_profile.url }}');">
					{% if request.user.is_authenticated %}
					<button v-on:click.self="toggleUserLike($event)"
					        class="btn-star btn btn-sm
					        {% if request.user in applicant.followers.all() %}
					          btn-primary
					        {% else %}
					          btn-outline-primary
									{% endif %}"
					        data-user-pk="{{ applicant.pk }}">
						<span class="icon far fa-star"></span>
					</button>
					{% endif %}
				</div>
				<a href="{{ url('members:applicant-detail', args=[applicant.pk]) }}" class="content">
					<div class="name-course">
						<span class="name">{{ applicant.name }}</span>
					</div>
					<p class="short-intro">{{ applicant.short_intro }}</p>
					<div class="badge-list">
						{% for skill in applicant._skills.all() %}
							<span class="badge badge-pill badge-light">#{{ skill.title }}</span>
						{% endfor %}
					</div>
					<button class="btn-status shadow-xs btn btn-lg pl-5 pr-5
									{% if applicant.is_looking != 'c' %}
										btn-primary
									{% else %}
										btn-secondary
									{% endif %}">
						{{ applicant.get_is_looking_display() }}
					</button>
				</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}