{% extends 'base.jinja2' %}

{% block content %}
<div class="resume">
	<section class="resume-section">
		<h2>기본정보</h2>
		<form action="">
			<div class="form-group row">

			</div>
		</form>
	</section>

</div>
{% endblock %}