{% extends 'base.jinja2' %}

{% block content_header %}
<header class="content-header row justify-content-center">
	<div class="col-md-8 col-lg-5">
		<div class="title">
			<span>로그인</span>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="login-card card col-md-8 col-lg-5">
		<form action="" method="POST">
			{{ csrf_input }}
			{% for field in form %}
			<div class="form-group">
				<label for="{{ field.id_for_label }}">{{ field.label }}</label>
				{{ field }}
			</div>
			{% endfor %}
			<button class="btn btn-primary btn-lg btn-block mt-4">로그인</button>
			<div class="text-center mt-3">
				비밀번호를 잊으셨나요? <a href="" class="text-primary ml-1 font-weight-bold">비밀번호 찾기</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}