{% extends 'base_narrow_header.jinja2' %}

{% block header_title %}비밀번호 재설정 완료{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="login-card card col-md-8 col-lg-5">
                <h5>비밀번호가 변경되었습니다</h5>
                <a href="{{ url('index') }}" class="btn btn-primary btn-block">홈으로</a>
            </div>
        </div>
    </div>
{% endblock %}