{% autoescape off %}
[패스트캠퍼스 채용연계 플랫폼] 비밀번호 재설정 메일입니다
아래 링크에서 새 비밀번호를 설정해주세요
{% block reset_link %}
    {{ protocol }}://{{ domain }}{{ url('members:password-reset-confirm', kwargs={'uidb64': uid, 'token': token}) }}
{% endblock %}

혹시 잊으셨다면, 사용자명은 다음과 같습니다: {{ user.get_username() }}
{% endautoescape %}
