{% extends 'base_narrow_header.jinja2' %}

{% block header_title %}비밀번호 변경{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="login-card card col-md-8 col-lg-5">
                <h5 class="text-center">비밀번호 변경</h5>
                <p class="text-center">보안상 필요하오니 기존에 사용하시던 비밀번호를 입력해 주세요.<br> 새로운 비밀번호는 정확히 입력했는지 확인할 수 있도록 두 번 입력하시기
                    바랍니다.</p>
                <form method="post">
                    {{ csrf_input }}
                    <div class="form-group row">
                        <label for="id_old_password" class="col-sm-3 col-form-label">기존 비밀번호</label>
                        <div class="col-sm-9">
                            {{ form.old_password }}
                            {% for error in form.old_password.errors %}
                                <small class="form-text text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_new_password1" class="col-sm-3 col-form-label">새 비밀번호</label>
                        <div class="col-sm-9">
                            {{ form.new_password1 }}
                            {% for error in form.new_password1.errors %}
                                <small class="form-text text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_new_password2" class="col-sm-3 col-form-label">새 비밀번호(확인)</label>
                        <div class="col-sm-9">
                            {{ form.new_password2 }}
                            {% for error in form.new_password2.errors %}
                                <small class="form-text text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">비밀번호 변경</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}