server {
    charset utf-8;

    location /health/ {
        set $my_host $host;
        if ($host ~ "\d+\.\d+\.\d+\.[\d\:]+") {
          set $my_host "health-check";
        }
        uwsgi_param     HTTP_HOST $my_host;
        uwsgi_pass      unix:///tmp/app.sock;
        include         uwsgi_params;
        access_log      /var/log/nginx/healthcheck.log;
    }

    location / {
        return 404;
    }
}
server {
    # 80번 포트로부터 받은 요청을 처리
    listen 80;
    listen 443;

    server_name localhost fc-headhunting.ap-northeast-2.elasticbeanstalk.com fc-headhunting.lhy.kr;

    charset utf-8;
    client_max_body_size 128M;

    location /health/ {
        set $my_host $host;
        if ($host ~ "\d+\.\d+\.\d+\.[\d\:]+") {
          set $my_host "health-check";
        }
        uwsgi_param     HTTP_HOST $my_host;
        uwsgi_pass      unix:///tmp/app.sock;
        include         uwsgi_params;
        access_log      /var/log/nginx/healthcheck.log;
    }

    location / {
        uwsgi_pass  unix:///tmp/app.sock;
        include     uwsgi_params;
    }

    location /static/ {
        alias   /srv/project/.static/;
    }
    location /media/ {
        alias   /srv/project/.media/;
    }
    if ($host = "fc-headhunting.lhy.kr") {
        set $stat   "lhy";
    }
    if ($http_x_forwarded_proto = 'http') {
        set $stat   "${stat}http";
    }
    if ($stat = "lhyhttp") {
        return 301 https://$host$request_uri;
    }
}
