$color-bg-default: #f6f6f6;
$color-bg-content-header: #4d4d4d;
$color-bg-card-header: #ebebeb;
$color-bg-footer: #4d4d4d;

$color-text-footer: #b2b2b2;
$color-link-footer: #cdcdcd;

$color-border-theme: #cc1136;

$border-light-gray: 1px solid #dedede;
