@import '../bootstrap/_variables.scss';
@import '_variables.scss';

#content {
  background-color: $color-bg-default;
}
header.main-header {
  > .header-top {
    border-top: $border-light-gray;
    border-bottom: $border-light-gray;
    box-sizing: border-box;

    > .btn-container {
      float: right;
      > a.header-item {
        float: left;
        padding: .4rem .8rem;
        border-left: $border-light-gray;

        &:last-of-type {
          border-right: $border-light-gray;
        }
      }
    }

  }
  > .header-content {
    position: relative;
    padding: 1rem;

    img.header-icon {
      height: 4rem;
    }
    > .btn-container {
      position: absolute;
      top: 0;
      right: 1rem;
      height: 100%;
    }
  }
}
header.content-header {
  padding: 1.5rem 1rem 2rem;
  background-color: $color-bg-content-header;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 0;
    top: 0;
    height: .9rem;
    width: .9rem;
    margin-right: .4rem;
    background-size: cover;
    background-image: url(/static/images/icon_content_header_title.png);
  }

  > * {
    vertical-align: middle;
  }
}