@import '../bootstrap/_variables.scss';
@import '_variables.scss';

#content {
  background-color: $color-bg-default;
}
header.main-header {
  > .header-top {
    border-top: $border-light-gray;
    border-bottom: $border-light-gray;
    box-sizing: border-box;

    > .btn-container {
      float: right;
      > a.header-item {
        float: left;
        padding: .4rem .8rem;
        border-left: $border-light-gray;

        &:last-of-type {
          border-right: $border-light-gray;
        }
      }
    }

  }
  > .header-content {
    position: relative;
    padding: 1rem;

    img.header-icon {
      height: 4rem;
    }
    > .btn-container {
      position: absolute;
      top: 0;
      right: 1rem;
      height: 100%;
    }
  }
}
header.content-header {
  padding: 1.5rem 1rem 2rem;
  background-color: $color-bg-content-header;
  color: white;
  font-weight: bold;

  div.title {
    font-size: 1.3rem;
    display: inline-block;
    > * {
      vertical-align: middle;
    }
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      position: relative;
      left: 0;
      top: 0;
      height: .9rem;
      width: .9rem;
      margin-right: .4rem;
      background-size: cover;
      background-image: url(/static/images/icon_content_header_title.png);
    }
  }
  div.right-menu {
    float: right;

    > .h-input {
      // right-menu하위 항목들의 height를 input크기와 동일하게 설정할 때
       height: calc(2.15625rem + 2px);
    }
  }

}

// Login
.login-card {
  padding: 2.8rem;
}

// ApplicantList
.applicant-list {
  //margin-top: -2rem;
  .user {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 190px;
    box-sizing: border-box;
    background-color: #fff;
    
    > .user-profile {
      float: left;
      position: relative;
      left: .5rem;
      top: -0.5rem;
      width: 150px;
      height: 100%;
      margin-right: 1.7rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      > .btn-star {
        position: absolute;
        left: .2rem;
        top: .2rem;

        &.btn-outline-primary:hover {
          color: #ed234b;
          background-color: transparent;
          border-color: #ed234b;
        }
      }
    }

    > .content {
      height: 190px;
      box-sizing: border-box;
      padding: 1.2rem;

      .name-course {
        margin-bottom: 0.4rem;
        .name {
          font-size: 1.5rem;
          font-weight: bold;
          color: #4c4c4c;
        }
      }
      .short-intro {
        font-size: 1.3rem;
        color: #4c4c4c;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .badge-list {
        font-size: 1.3rem;
        .badge {
          padding: 0.6rem 1.0rem;
          font-weight: normal;
          margin-right: 0.4rem;
          margin-bottom: 0.3rem;
        }
      }
      .btn-status {
        position: absolute;
        right: 0.6rem;
        bottom: -1rem;
      }
    }
  }
}

// ApplicantUpdate
section.card.resume-section {
  margin-bottom: 1.5rem;
}