<footer class="main-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 footer-left">
				<div class="logo-address">
					<img src="{{ static('images/footer_logo.png') }}" class="logo">
					<p class="address">서울시 강남구 논현1동 2-9 대기빌딩 B2
대표전화 : 02-518-4811</p>
				</div>
				<div class="info">
					<p>패스트캠퍼스(주) 대표 : 박지웅, 이강민 /
사업자번호 : 810-86-00658 / 통신판매업 신고번호 : 제 2017-서울강남-01977호
개인정보책임관리자 : 이강민</p>
				</div>
			</div>
			<div class="col-lg-6 footer-right clearfix">
				<div class="sitemap-container float-right">
                    <!--
					<ul class="sitemap">
						<h4 class="sitemap-list-title">About</h4>
						<li class="sitemap-list">
							<ul class="sitemap-child-list">
								<li><a href="#">SCHOOL 소개</a></li>
								<li><a href="#">패스트캠퍼스 소개</a></li>
								<li><a href="#">직원 채용</a></li>
							</ul>
						</li>
					</ul>

					<ul class="sitemap">
						<h4 class="sitemap-list-title">More</h4>
						<li class="sitemap-list">
							<ul class="sitemap-child-list">
								<li><a href="#">이용약관</a></li>
								<li><a href="#">환불규정</a></li>
								<li><a href="#">개인정보 취급방침</a></li>
							</ul>
						</li>
					</ul>
					-->

					<ul class="sitemap">
						<h4 class="sitemap-list-title">SNS / Press</h4>
						<li class="sitemap-list">
							<ul class="sitemap-child-list">
								<li><a href="#">블로그</a></li>
								<li><a href="#">네이버 카페</a></li>
								<li><a href="#">페이스북</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>