<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% sass_src 'scss/base.scss' %}">
	<link rel="stylesheet" href="{{ static('bootstrap/bootstrap.css') }}">
	<link rel="stylesheet" href="{% sass_src 'scss/bootstrap.scss' %}">
	<link rel="stylesheet" href="{% sass_src 'scss/layout.scss' %}">
	<script type="text/javascript" src="{{ static('js/ajax.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/popper.js') }}"></script>
	<script type="text/javascript" src="{{ static('bootstrap/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/vue.js') }}"></script>
	<script type="text/javascript" src="{{ static('ckeditor/ckeditor-init.js') }}"></script>
	<script type="text/javascript" src="{{ static('ckeditor/ckeditor/ckeditor.js') }}"></script>
	<title>FAST CAMPUS</title>
</head>
<body>
	<div id="wrap">
		<header class="main-header">
			<div class="header-top clearfix">
				<div class="btn-container clearfix">
					<a href="#" class="header-item">SCHOOL Facebook</a>
					<a href="#" class="header-item">패스트캠퍼스 홈</a>
				</div>
			</div>
			<div class="header-content">
				<a href="{{ url('index') }}">
					<img class="header-icon" src="{{ static('images/icon_logo.png') }}" alt="">
				</a>
				{% if request.user.is_authenticated %}
					<div class="btn-container child-middle">
						<a href="{{ url('members:applicant-update') }}" class="btn btn-outline-secondary mr-1">{{ request.user.name }}</a>
						<a href="{{ url('members:logout') }}" class="btn btn-outline-dark">LOGOUT</a>
					</div>
				{% else %}
					<div class="btn-container child-middle">
						<a href="{{ url('members:login') }}" class="btn btn-outline-primary mr-1">LOGIN</a>
						<a href="" class="btn btn-outline-dark">SIGNUP</a>
					</div>
				{% endif %}
			</div>
			<nav class="nav nav-fill bg-primary">
				<a href="{{ url('members:applicant-list') }}" class="nav-item nav-link text-light">지원자 현황</a>
				<a href="#" class="nav-item nav-link text-light">채용연계 기업</a>
			</nav>
		</header>
		{% block content_header %}
		{% endblock %}
		<div id="content" class="container-fluid">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	<script>
		var csrftoken = getCookie('csrftoken');
		var baseURL = '{{ request.scheme }}://{{ request.META.HTTP_HOST }}';
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
			  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
			  settings.url = baseURL + settings.url;
			}
		});
		var mixin = {};
	</script>
	{% block mixin %}{% endblock %}
	<script>
		{% include 'includes/script.js' %}
	</script>
	{% block script %}{% endblock %}
</body>
</html>