{% extends 'base.jinja2' %}

{% block content_class %}{% endblock %}

{% block content %}
<div class="index-container">
	<div class="logo d-none d-lg-block"
	     style="
		     {% if static_content.index_image %}
		     background-image: url('{{ static_content.index_image.url }}');
		     {% endif %}
		     background-color: {{ static_content.index_color }};
		     height: {{ static_content.index_height }}px;
		     max-height: {{ static_content.index_height }}px;
		     ">
	</div>
	<div class="logo d-lg-none"
	     style="
		     {% if static_content.index_image %}
		     background-image: url('{{ static_content.index_mobile_image.url }}');
		     {% endif %}
	       background-size: cover;
		     background-color: {{ static_content.index_mobile_color }};
	       height: {{ static_content.index_mobile_height }}px;
		     max-height: {{ static_content.index_mobile_height }}px;
		     ">
	</div>
</div>
{% endblock %}